*{
    margin:0;
    padding:0;
}
.container{
    position: absolute;
    top: 36%;
    left: 50%; 
    transform: translate(-52%,-45%);
    display: block;
    padding: 11px;
    padding-left:19px;
    padding-right:19px;
     width: 40%;
     height:auto;
     border:1px solid gray;
     border-radius: 10px;
     box-shadow:10px 5px 10px rgba(218, 225, 224 ,3) ;
     background-color:#FBFCFC ;

}
a{
    font-size:1.5em;
}
text{
    float: right;
    font-size:1em;
}
.labelstyle1{
    height:5%;
    width:100%;
    border:none;
    background-color:  rgba(234, 242, 248 ,70%)   ;
    color:gray;
    font-size:1.8rem;
    /* padding-left:2%; */
    display:inline-block;
    margin-top:1%;
    
    
    
}
.inputstyle1{
    width:100%;
    /* background-color:rgba(174, 210, 238 ,70%); */
    border-bottom:2px solid black;
    
}
.inputstyle1 input{
    width: 100%;
    height:5%;
    border:none;
    background-color:rgba(234, 242, 248 ,70%);
    font-size: 1.4em;
    font-weight: bolder;
    color: black;
    outline: none;
   
}
.btn--white1{
    background-color:#4ea7f0  ;
    color:white;
    margin-top: 1.5rem;
    width:100%;
    height:4.5rem;
    font-size:1.7em;
    font-weight: bolder;
    border-radius: 100px;
    text-align: center;
    border:none;

} 
button:visited{
    color: white;
}

.btn1:active{
   outline: none;
    color: white;
       
}
.btn1:hover{
    background-color:#208be2   ;
    color: white;
    /* box-shadow: 20px 10px 20px rgba(0,0,0,3); */
}
.animation{
    animation-name: moveINright;
    animation-duration: 1s;
}
@keyframes moveINright{
    0%{
        opacity: 0;
         transform: translateX(100px)  /*rotate(360deg); right to left is positive and left to right is negative */
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0) ;
    }

}
strong{
    font-size:1.3em;
    color: red;
}